._container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}
._content {
	display: flex;
	width: 100%;
	flex: 1;
	padding: 15px;
	overflow-x: hidden;
	overflow-y: auto;
}

.form-row {
	margin-bottom: 10px;
}